<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>
        <property name="connection.url">jdbc:postrgesql://localhost:5432/todo</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">todo_user</property>
        <property name="connection.password">12345678</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    </session-factory>
</hibernate-configuration>